name: cli

on:
  pull_request: {}
  push:
    branches: main

defaults:
  run:
    working-directory: cli

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  test:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        rust:
          - 1.60.0 # MSRV
          - stable
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy,rustfmt # used by Abscissa CLI tests
          override: true
          profile: minimal
      - run: cargo test --release
